55 7-22 * * * /var/www/location_console schedule:fetch >> /var/log/cron.log 2>&1
5 9 * * * /var/www/location_console schedule:report:full >> /var/log/cron.log 2>&1

# * * * * * /var/www/walle purge >> /var/log/walle.log 2>&1
# * * * * * echo "Hello world" >> /var/log/cron.log 2>&1

# An empty line is required at the end of this file for a valid cron file.