# Fetch schedule
*/5 * * * *      /var/www/location_console schedule:fetch >> /var/log/cron.log 2>&1
#0 14-23/4 * * *      /var/www/location_console schedule:fetch >> /var/log/cron.log 2>&1

# Send notifications for schedule
30 12 * * *           /var/www/location_console schedule:report:full >> /var/log/cron.log 2>&1
#*/2 13-22 * * *     /var/www/location_console schedule:report:delta >> /var/log/cron.log 2>&1

# Run bot poll
* * * * *           /var/www/location_console bot:poll >> /var/log/cron.log 2>&1

# * * * * * /var/www/walle purge >> /var/log/walle.log 2>&1
# * * * * * echo "Hello world" >> /var/log/cron.log 2>&1

# An empty line is required at the end of this file for a valid cron file.